body.login{
	background-image: url(../../assets/images/login.jpg);
	background-repeat:no-repeat;
    background-size: cover;
    padding-top: 0px;
}
#title{
	color: white;
	font-family: "Microsoft YaHei", "微软雅黑";
}
.checkbox{
	color: white;
}
.div1{
	margin-top: 240px;
	margin-left:auto;
	margin-right:auto;
	width: 25% !important;
	background-color: rgba(117,117,255,0.60) !important;
}
.form-wrapper{
}