<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.SysRoleMenuMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="findMenuIdsByRoleId" resultType="int">
        select distinct menuId
        from sysRoleMenus
        where roleId in
        <foreach collection="roleIds" open="(" close=")" separator="," item="roleId">#{roleId}</foreach>
    </select>

</mapper>
