<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.SysRoleMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="findObject" resultType="com.daye.sys.entity.SysRole">
        select * from sysRoles where id>1
    </select>
    <sql id="findRoles">
        a.id>1
        <if test="sSearch != null and sSearch != ''">
            and a.id like concat("%",#{sSearch},"%")
            or a.name like concat("%",#{sSearch},"%")
        </if>
        <if test="role.id != null">
            and a.id like concat("%",#{role.id},"%")
        </if>
        <if test="role.name != null and role.name != ''">
            and a.name like concat("%",#{role.name},"%")
        </if>
        order by a.id
    </sql>
    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from sysRoles a
        <where>
            <include refid="findRoles"></include>
        </where>
    </select>
    <select id="findRoles" resultType="com.daye.sys.entity.SysRole">
        select a.id,a.name from sysRoles a
        <where>
            <include refid="findRoles"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>
    <select id="findOneByName" resultType="java.lang.Integer">
        select count(1) from sysRoles where name=#{name}
    </select>
    <select id="findObjectByName" resultType="com.daye.sys.entity.SysRole">
        select * from sysRoles where name=#{name}
    </select>


</mapper>
