<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.SysRoleMenuMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <delete id="deleteByRoleId">
        delete from sysRoleMenus where roleId=#{roleId}
    </delete>

    <select id="findMenuIdsByRoleId" resultType="int">
        select distinct menuId
        from sysRoleMenus
        where roleId=#{roleId}
    </select>

    <insert id="insertRoleMenus">

        insert into sysRoleMenus
        (roleid,menuid)
        values
        <foreach collection="menuIds"
                 separator=","
                 item="menuId">
            (#{roleId},#{menuId})
        </foreach>

    </insert>
</mapper>
