<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.SysUserMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <select id="findUserByNickname" resultType="com.daye.sys.entity.SysUser">
        select *
		from
		sysUsers
		where nickname=#{username}
    </select>
    <select id="findRoleIdById" resultType="java.lang.Integer">
        select roleId from sysUsers where id=#{id}
    </select>
    <sql id="findObject">
        '1'='1'
        <if test="sSearch != null and sSearch != ''">
            and a.id like concat("%",#{sSearch},"%")
            or a.nickname like concat("%",#{sSearch},"%")
            or a.name like concat("%",#{sSearch},"%")
            or a.mobile like concat("%",#{sSearch},"%")
            or a.email like concat("%",#{sSearch},"%")
            or a.roleId in (select c.id from sysRoles c where c.name like concat("%",#{sSearch},"%"))
        </if>
        <if test="user.id != null">
            and a.id like concat("%",#{user.id},"%")
        </if>
        <if test="user.nickname != null and user.nickname != ''">
            and a.nickname like concat("%",#{user.nickname},"%")
        </if>
        <if test="user.name != null and user.name != ''">
            and a.name like concat("%",#{user.name},"%")
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            and a.mobile like concat("%",#{user.mobile},"%")
        </if>
        <if test="user.email != null and user.email != ''">
            and a.email like concat("%",#{user.email},"%")
        </if>
        <if test="user.note != null and user.note != ''">
            and a.roleId in (select c.id from sysRoles c where c.name like concat("%",#{user.note},"%"))
        </if>
        order by a.createdTime desc
    </sql>
    <select id="findObject" resultType="com.daye.sys.entity.SysUser">
        select a.id,a.nickname,a.name,a.mobile,a.email,a.roleId,a.valid,(select r.name from sysRoles r where r.id=a.roleId) note from sysUsers a
        <where>
            <include refid="findObject"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>
    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from sysUsers a
        <where>
            <include refid="findObject"></include>
        </where>
    </select>

</mapper>
