<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.SytMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <sql id="findObject">
        c.ydyhId = b.id
        and (c.payStatus=0 or c.payStatus=1)
        <if test="sSearch != null and sSearch != ''">
            and (b.name like concat("%",#{sSearch},"%")
            or b.idCode like concat("%",#{sSearch},"%")
            or c.meterId like concat("%",#{sSearch},"%")
            or date_format(c.regisTime,'%Y-%m-%d') like concat('%',#{sSearch},'%'))
        </if>
        <if test="vt_jfjl.name != null and vt_jfjl.name != ''">
            and b.name like concat("%",#{vt_jfjl.name},"%")
        </if>
        <if test="vt_jfjl.idCode != null and vt_jfjl.idCode != ''">
            and b.idCode like concat("%",#{vt_jfjl.idCode},"%")
        </if>
        <if test="vt_jfjl.meterId != null and vt_jfjl.meterId != ''">
            and c.meterId like concat("%",#{vt_jfjl.meterId},"%")
        </if>
        <if test="vt_jfjl.regisTime != null and vt_jfjl.regisTime != ''">
            and date_format(c.regisTime,'%Y-%m-%d') like concat('%',#{vt_jfjl.regisTime},'%')
        </if>
        order by c.createdTime desc
    </sql>
    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from tbYdyh b,tbJfjl c
        <where>
            <include refid="findObject"></include>
        </where>
    </select>
    <select id="findObject" resultType="com.daye.sys.entity.vt.VT_Jfjl">
        select (@i:=@i+1) sort,c.id,b.name,b.idCode,c.meterId,cast(c.amountDue as char(50)) amountDue,date_format(c.regisTime,'%Y-%m-%d') regisTime ,
        c.createdTime
        from tbYdyh b,tbJfjl c,(SELECT @i:=#{iDisplayStart}) t
        <where>
            <include refid="findObject"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>
    <select id="getJfyhById" resultType="com.daye.sys.entity.vt.VT_Jfjl">
        select a.name,a.idCode,a.address,b.meterId,cast(b.periodElecNum as char(50)) periodElecNum,cast(c.tate as char(50)) tate,
        cast(b.amountDue as char(50)) amountDue from tbYdyh a,tbJfjl b,tbYhlx c
        <where>
            b.id=#{id} and a.id=b.ydyhId and a.userTypeId = c.id
        </where>
    </select>
</mapper>