<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.TbCbjlMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <sql id="findObject">
        a.id in (select max(d.id) from tbCbjl d group by d.meterId)
        and a.meterId = b.meterId
        and b.ydyhId = c.id
        <if test="sSearch != null and sSearch != ''">
            and (c.name like concat("%",#{sSearch},"%")
            or c.idCode like concat("%",#{sSearch},"%")
            or a.meterId like concat("%",#{sSearch},"%")
            or date_format(a.regisTime,'%Y-%m-%d') like concat('%',#{sSearch},'%')
            or a.meterNum like concat("%",#{sSearch},"%"))
        </if>
        <if test="vt_cbjl.name != null and vt_cbjl.name != ''">
            and c.name like concat("%",#{vt_cbjl.name},"%")
        </if>
        <if test="vt_cbjl.idCode != null and vt_cbjl.idCode != ''">
            and c.idCode like concat("%",#{vt_cbjl.idCode},"%")
        </if>
        <if test="vt_cbjl.meterId != null and vt_cbjl.meterId != ''">
            and a.meterId like concat("%",#{vt_cbjl.meterId},"%")
        </if>
        <if test="vt_cbjl.regisTime != null and vt_cbjl.regisTime != ''">
            and date_format(a.regisTime,'%Y-%m-%d') like concat('%',#{vt_cbjl.regisTime},'%')
        </if>
        <if test="vt_cbjl.meterNum != null and vt_cbjl.meterNum != ''">
            and a.meterNum like concat("%",#{vt_cbjl.meterNum},"%")
        </if>
        order by a.createdTime desc
    </sql>
    <insert id="insertCbjls" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into tbCbjl (meterId,regisTime,meterNum)
        values 
        <foreach collection="cbjlList" separator="," item="cbjl">
            (#{cbjl.meterId},#{cbjl.regisTime},#{cbjl.meterNum})
        </foreach>
    </insert>
    <delete id="cleanUp2Y">
        delete from tbCbjl where date(regisTime) &lt; date(date_sub(NOW(),	INTERVAL 2 year))
    </delete>
    <select id="insertJfjls" parameterType="java.util.Map" statementType="CALLABLE" useCache="false">
        {
        call insertJfjlFromCbjl(#{insertCount,mode=IN,jdbcType=BIGINT},#{insId,mode=IN,jdbcType=BIGINT},#{result,mode=OUT,jdbcType=BIGINT})
        }
    </select>
    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from tbCbjl a,tbJlsb b,tbYdyh c
        <where>
            <include refid="findObject"></include>
        </where>
    </select>
    <select id="findObject" resultType="com.daye.sys.entity.vt.VT_Cbjl">
        select (@i:=@i+1) sort,a.id,c.name,c.idCode,a.meterId,date_format(a.regisTime,'%Y-%m-%d') regisTime,a.meterNum from tbCbjl a,tbJlsb b,tbYdyh c,(SELECT @i:=#{iDisplayStart}) t
        <where>
            <include refid="findObject"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>
    <sql id="findObjectById">
        a.meterId=#{meterId}
        and a.meterId = b.meterId
        and b.ydyhId = c.id
        <if test="startTime != null and startTime != ''">
            and a.regisTime BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and DATE_ADD(STR_TO_DATE(#{endTime},'%Y-%m-%d'),interval 1 day)
        </if>
    </sql>
    <select id="findCountByid" resultType="java.lang.Integer">
        select count(1) from tbCbjl a,tbJlsb b,tbYdyh c
        <where>
            <include refid="findObjectById"></include>
        </where>
    </select>
    <select id="findObjectById" resultType="com.daye.sys.entity.vt.VT_Cbjl">
        select (@i:=@i+1) sort,a.id,c.name,c.idCode,a.meterId,date_format(a.regisTime,'%Y-%m-%d  %H:%m:%S') regisTime,a.meterNum from tbCbjl a,tbJlsb b,tbYdyh c,(SELECT @i:=#{iDisplayStart}) t
        <where>
            <include refid="findObjectById"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>
    <select id="selectByEntity" resultType="java.lang.Boolean">
        SELECT EXISTS (SELECT id FROM tbCbjl
        WHERE meterId =  #{meterId}
            AND regisTime=#{regisTime}
            AND meterNum=#{meterNum})
        OR NOT EXISTS (SELECT id FROM tbJlsb WHERE meterId = #{meterId} )
    </select>
</mapper>
