<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.TbJfjlMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <sql id="findObject">
        c.ydyhId = b.id
        <if test="sSearch != null and sSearch != ''">
            and (b.name like concat("%",#{sSearch},"%")
            or b.idCode like concat("%",#{sSearch},"%")
            or c.meterId like concat("%",#{sSearch},"%")
            or date_format(c.payTime,'%Y-%m-%d') like concat('%',#{sSearch},'%')
            or c.payStatus like concat("%",#{sSearch},"%"))
        </if>
        <if test="vt_jfjl.name != null and vt_jfjl.name != ''">
            and b.name like concat("%",#{vt_jfjl.name},"%")
        </if>
        <if test="vt_jfjl.idCode != null and vt_jfjl.idCode != ''">
            and b.idCode like concat("%",#{vt_jfjl.idCode},"%")
        </if>
        <if test="vt_jfjl.meterId != null and vt_jfjl.meterId != ''">
            and c.meterId like concat("%",#{vt_jfjl.meterId},"%")
        </if>
        <if test="vt_jfjl.payTime != null and vt_jfjl.payTime != ''">
            and date_format(c.payTime,'%Y-%m-%d') like concat('%',#{vt_jfjl.payTime},'%')
        </if>
        <if test="vt_jfjl.payStatu != null">
            and c.payStatus = #{vt_jfjl.payStatu}
        </if>
        order by c.createdTime desc
    </sql>
    <delete id="cleanUp2Y">
        delete from tbJfjl where payStatus = 2 and date(payTime) &lt; date(DATE_SUB(NOW(),	INTERVAL 2 year))
    </delete>


    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from tbYdyh b,tbJfjl c
        <where>
            <include refid="findObject"></include>
        </where>
    </select>
    <select id="findObject" resultType="com.daye.sys.entity.vt.VT_Jfjl" >
        select (@i:=@i+1) sort,c.id,b.name,b.idCode,c.meterId,c.payTime,
                c.payStatus  payStatu , c.createdTime
        from tbYdyh b,tbJfjl c,(SELECT @i:=#{iDisplayStart}) t
        <where>
            <include refid="findObject"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>

    <sql id="findObjectById">
        c.meterId=#{meterId}
        and c.ydyhId = b.id
        <if test="startTime != null and startTime != ''">
            and c.payTime  BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and DATE_ADD(STR_TO_DATE(#{endTime},'%Y-%m-%d'),interval 1 day)
        </if>
    </sql>
    <select id="findCountByid" resultType="java.lang.Integer">
        select count(1) from tbYdyh b,tbJfjl c
        <where>
            <include refid="findObjectById"></include>
        </where>
    </select>
    <select id="findObjectById" resultType="com.daye.sys.entity.vt.VT_Jfjl">
        select (@i:=@i+1) sort,c.id,b.name,b.idCode,c.meterId,c.payTime,
                c.payStatus  payStatu
        from tbYdyh b,tbJfjl c,(SELECT @i:=#{iDisplayStart}) t
        <where>
            <include refid="findObjectById"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>

    <select id="getJfjl" resultType="com.daye.sys.entity.vt.VT_Jfjl">
        select c.meterId ,c.periodElecNum  ,cast(c.amountDue as char(50)) amountDue ,cast(c.actualAmount as char(50)) actualAmount ,c.payStatus payStatu ,date_format(c.payTime,'%Y-%m-%d') payTime
         ,c.receiptStatus  ,date_format(c.createdTime,'%Y-%m-%d') createdTime  ,date_format(c.modifiedTime,'%Y-%m-%d') modifiedTime ,c.note  ,b.`name` ,b.idCode ,
        b.address , b.phoneNum  ,cast(d.tate as char(20)) tate  ,b.valid ,date_format(b.createdTime,'%Y-%m-%d')  createdUserTime,date_format(b.modifiedTime,'%Y-%m-%d') modifiedUserTime, b.note userNote
        from tbYdyh b,tbJfjl c ,tbYhlx  d where
         c.id=#{id}
         and c.ydyhId = b.id and b.userTypeId=d.id

    </select>

    <select id="selectByParameters" resultType="com.daye.sys.entity.vt.VT_Jfjl">
        select (@i:=@i+1) sort,
               c.meterId ,
               c.periodElecNum ,
               cast(c.amountDue as char(50)) amountDue,
               cast(c.actualAmount as char(50)) actualAmount,
               c.payStatus payStatu ,
               date_format(c.payTime,'%Y-%m-%d') payTime ,
               c.receiptStatus ,
               date_format(c.createdTime,'%Y-%m-%d') createdTime ,
               date_format(c.modifiedTime,'%Y-%m-%d') modifiedTime ,
               c.note ,
               b.`name`,
               b.idCode ,
               b.address ,
               b.phoneNum ,
               cast(d.tate as char(20))  tate,
               b.valid ,
               date_format(b.createdTime,'%Y-%m-%d')  createdUserTime,
               date_format(b.modifiedTime,'%Y-%m-%d') modifiedUserTime,
               b.note userNote
        from tbYdyh b,tbJfjl c ,tbYhlx d ,(SELECT @i:=0) t
        <where>
            c.ydyhId = b.id and b.userTypeId=d.id
            <choose>
                <when test="payStatus=='2'">
                  and c.payTime BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and STR_TO_DATE(concat(#{endTime},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                </when>
                <otherwise>
                  and c.createdTime BETWEEN STR_TO_DATE(#{startTime},'%Y-%m-%d') and STR_TO_DATE(concat(#{endTime},' 23:59:59'),'%Y-%m-%d %H:%i:%s')
                </otherwise>
            </choose>
            <if test="payStatus!=null and payStatus!=''">
                and c.payStatus = cast(#{payStatus} AS UNSIGNED int)
            </if>
            <if test="meterId!=null and meterId!=''">
                and c.meterId = #{meterId}
            </if>
            <if test="idCode!=null and idCode!=''">
                and b.idCode = #{idCode}
            </if>
        </where>


    </select>

</mapper>
