<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daye.sys.mapper.TbJfjlMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <sql id="findObject">
        c.id in (select max(d.id) from tbJfjl d group by d.meterId)
        and a.regisTime in(select max(m.regisTime) from tbCbjl m group by m.meterId)
        and c.meterId = a.meterId
        and c.ydyhId = b.id
        <if test="sSearch != null and sSearch != ''">
            and (b.name like concat("%",#{sSearch},"%")
            or b.idCode like concat("%",#{sSearch},"%")
            or a.meterId like concat("%",#{sSearch},"%")
            or date_format(c.payTime,'%Y-%m-%d') like concat('%',#{sSearch},'%')
            or c.amountDue-c.actualAmount like concat("%",#{sSearch},"%"))
        </if>
        <if test="vt_jfjl.name != null and vt_jfjl.name != ''">
            and c.name like concat("%",#{vt_jfjl.name},"%")
        </if>
        <if test="vt_jfjl.idCode != null and vt_jfjl.idCode != ''">
            and c.idCode like concat("%",#{vt_jfjl.idCode},"%")
        </if>
        <if test="vt_jfjl.meterId != null and vt_jfjl.meterId != ''">
            and c.meterId like concat("%",#{vt_jfjl.meterId},"%")
        </if>
        <if test="vt_jfjl.lastPayTime != null and vt_jfjl.lastPayTime != ''">
            and date_format(c.payTime,'%Y-%m-%d') like concat('%',#{vt_jfjl.lastPayTime},'%')
        </if>
        <if test="vt_jfjl.arrears != null and vt_jfjl.arrears != ''">
            and c.amountDue-c.actualAmount like concat("%",#{vt_jfjl.arrears},"%")
        </if>
    </sql>


    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from tbCbjl a,tbYdyh b,tbJfjl c
        <where>
            <include refid="findObject"></include>
        </where>
    </select>
    <select id="findObject" resultType="com.daye.sys.entity.vt.VT_Jfjl" >
        select (@i:=@i+1) sort,c.id,b.name,b.idCode,a.meterId,date_format(c.payTime,'%Y-%m-%d') lastPayTime,c.amountDue-c.actualAmount arrears from tbCbjl a,tbYdyh b,tbJfjl c,(SELECT @i:=#{iDisplayStart}) t
        <where>
            <include refid="findObject"></include>
            limit #{iDisplayStart},#{iDisplayLength}
        </where>
    </select>


</mapper>
