<script src='assets/page/javascripts/sysPermission.js' type='text/javascript'></script>
<script src='assets/stylesheets/ztree/jquery.ztree.all.min.js' type='text/javascript'></script>
<!--style>
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #00acec;
}
</style-->
<input type="text" name="autName" id="autId" style="display: none"/>
<div class='container-fluid'>
    <div class='row-fluid' id='content-wrapper' style="display: block;">
        <!--modal-addauthority-->
        <div class="modal-add hide fade in" id="modal-addauthority" role="dialog" tabindex="-1" aria-hidden="false"
             style="display:none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-edit"></div>
                    添加/修改权限类型
                </h3>
            </div>
            <div class="modal-body">
                <form class="form" style="margin-bottom: 0;">
                    <div class="text-center">
                        <h2>权限类型</h2>
                        <br/>
                    </div>
                    <div class="box-content" style="display: inline;">
                        <table class="kv-table">
                            <tbody>
                            <tr>
                                <td class="kv-label" style="width: 50px">权限类型名称
                                    <font color="red">*</font>
                                </td>
                                <td class="kv-content">
                                    <input class="span11" id="add_autName" type="text" style="width: 100%">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label" style="width: 50px">
                                    权限类型描述
                                </td>
                                <td class="kv-content">
                                    <input class="span11" id="add_autNote" type="text"  style="width: 100%">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label" style="width: 50px">授权
                                    <font color="red">*</font>
                                </td>
                                <td>
                                    <div>
                                        <ul id="menuTree" class="ztree"></ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="icon-remove"></i>取 消</button>
                <button class="btn btn-primary" onclick="addauthority()"><i class="icon-save"></i> 保 存</button>
            </div>
        </div>
        <!--modal-addauthority end-->
        <!--modal-deleteauthority begin-->
        <div class="modal hide fade in" id="modal-deleteauthority" role="dialog" tabindex="-1" aria-hidden="false"
             style="display: none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-minus-sign"></div>
                    删除权限
                </h3>
            </div>
            <div class="modal-body">
                <h4 style="color: red;">
                    <div class="icon-exclamation-sign"></div>
                    注意：权限删除后不能恢复，请谨慎操作！
                </h4>
                <p>请确认是否继续删除。</p>
                <p>非系统管理员请勿进行删除操作！</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" id="deleterow">确认删除</button>
            </div>
        </div>
        <!--modal-deleteauthority end-->
        <!--权限列表部分 开始-->
        <div class='row-fluid'>
            <div class='span12 box bordered-box blue-border' style='margin-bottom:0;'>
                <div class='box-header blue-background'>
                    <div class='title'>权限列表</div>
                    <div class='pull-right' style="margin-top:-80px;width:120px;height:30px;margin-right:13px;">
                        <a class="btn btn-default" data-toggle="modal" href="#modal-addauthority" role="button"
                           style="background-color:#00aceb;color:white;width:100%;height:100%;padding-top:10px;font-size:16px;" onclick="doLoadSysMenus()">
                            <i class="icon-plus"></i> 添加权限类型
                        </a>
                    </div>
                </div>
                <div class='box-content box-no-padding'>
                    <div class='responsive-table'>
                        <div class='scrollable-area'>
                            <table class='data-table data-table-column-filter table table-bordered table-striped table-hover'
                                   style='margin-bottom:0;' id="plist">
                                <thead>
                                <tr>
                                    <th>
                                        id
                                    </th>
                                    <th>权限类型</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>权限类型</th>
                                    <th>操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
