<html xmlns:th="http://www.thymeleaf.org">
<style>
    #userList_length {
        display: none;
    }
    #userList_filter {
        display: none;
    }
</style>
<script src='assets/page/javascripts/tbJlsb.js' type='text/javascript'></script>

<input type="text" name="id" id="jlsbId" style="display: none"/>

<div class='container-fluid'>
    <div class='row-fluid' id='content-wrapper' style="display: block;">
        <!--modal-addjlsb-->
        <div class="modal-add hide fade in" id="modal-addjlsb" role="dialog" aria-hidden="false"
             style="display:none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-edit"></div>
                    [[#{jlsb.addOrEditMeter}]]
                </h3>
            </div>
            <div class="modal-body">
                <form class="form" style="margin-bottom: 0;">
                    <div class="text-center">
                        <h2 th:text="#{jlsb.meterInfo}">计量设备信息</h2>
                        <br/>
                    </div>
                    <div class="box-content" style="display: inline;">
                        <table class="kv-table">
                            <tbody>
                            <tr>
                                <td class="kv-label">[[#{meterNumber}]]
                                    <font color="red">*</font>
                                </td>
                                <td class="kv-content">
                                    <input class="span11" id="meterId" type="text" autocomplete="off">
                                    <font id="meterId_alert" color="red" style="display: none;">必填</font>
                                </td>
                                <td class="kv-label">[[#{jlsb.meterBoxNumber}]]
                                    <font color="red">*</font>
                                </td>
                                <td class="kv-content">
                                    <input class="span11" id="meterBoxId" placeholder="" type="text" autocomplete="off">
                                    <font id="meterBoxId_alert" color="red" style="display: none;">必填</font>
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">[[#{jlsb.userIdNumber}]]
                                    <font color="red">*</font>
                                </td>
                                <td class="kv-content">
                                    <input class="span11" id="idCode" placeholder="" type="text" autocomplete="off" style="width:72%;">
                                    <button class="btn btn-success" data-toggle="modal" onclick="selectUser()"><i class="icon-search"></i>[[#{jlsb.selectingUsers}]]</button>
                                </td>
                                <td class="kv-label"></td>
                                <td class="kv-content">
                                    <input class="span11" id="ydyhId" placeholder="" type="hidden" autocomplete="off">
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="control-group">
                    <div class="controls">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="icon-remove"></i>[[#{cancel}]]</button>
                <button class="btn btn-primary" onclick="addjlsb()"><i class="icon-save"></i> [[#{save}]]</button>
            </div>
        </div>
        <!--modal-addjlsb end-->
        <!--modal-deleteJlsb begin-->
        <!--<div class="modal hide fade in" id="modal-deletejlsb" role="dialog" aria-hidden="false"
             style="display: none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-minus-sign"></div>
                    删除计量设备
                </h3>
            </div>
            <div class="modal-body">
                <h4 style="color: red;">
                    <div class="icon-exclamation-sign"></div>
                    注意：计量设备删除后不能恢复，请谨慎操作！
                </h4>
                <p>请确认是否继续删除。</p>
                <p>非系统管理员请勿进行删除操作！</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" id="deleterow">确认删除</button>
            </div>
        </div>-->
        <!--modal-deleteJlsb end-->
        <!--选择用户 开始-->
        <div class="modal-add hide fade in" id="modal-selectUser" role="dialog"  aria-hidden="false"
             style="display:none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-edit"></div>
                    [[#{jlsb.selectingUsers}]]
                </h3>
            </div>
            <div class="modal-body" style="height: 584px">
                <form class="form" style="margin-bottom: 0;">
                    <div class='scrollable-area' id="cellBox">
                        <table class='data-table data-table-column-filter table table-bordered table-striped table-hover'
                               style='margin-bottom:0;' id="userList">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th th:text="#{username}">姓名</th>
                                    <th th:text="#{IDCardNumber}">身份证号</th>
                                    <th th:text="#{userAddress}">用户地址</th>
                                    <th th:text="#{ydyh.contactInfo}">联系方式</th>
                                    <th th:text="#{ydyh.userType}">用户类型</th>
                                    <th th:text="#{operation}">操作</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th th:text="#{username}">姓名</th>
                                    <th th:text="#{IDCardNumber}">身份证号</th>
                                    <th th:text="#{userAddress}">用户地址</th>
                                    <th th:text="#{ydyh.contactInfo}">联系方式</th>
                                    <th th:text="#{ydyh.userType}">用户类型</th>
                                    <th th:text="#{operation}">操作</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
                <div class="control-group">
                    <div class="controls">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--选择用户 结束-->

        <!--部分 开始-->
        <div class='row-fluid'>
            <div class='span12 box bordered-box blue-border' style='margin-bottom:0;'>
                <div class='box-header blue-background'>
                    <div class='title' th:text="#{jlsb.meterList}">计量设备列表</div>
                    <div class='pull-right' style="margin-top:-80px;width:auto;height:30px;margin-right:13px;">
                        <a id="addjlsb" class="btn btn-default" data-toggle="modal" href="#modal-addjlsb" role="button"
                           style="background-color:#00aceb;color:white;width:100%;height:100%;padding-top:10px;font-size:16px;" onclick="initform()"><i class="icon-plus"></i> [[#{jlsb.addMeter}]]</a>
                    </div>
                </div>
                <div class='box-content box-no-padding'>
                    <div class='responsive-table'>
                        <div class='scrollable-area'>
                            <table class='data-table data-table-column-filter table table-bordered table-striped table-hover'
                                   style='margin-bottom:0;' id="plist">
                                <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th th:text="#{meterNumber}">表号</th>
                                    <th th:text="#{jlsb.meterBoxNumber}">表箱号</th>
                                    <th th:text="#{ydyh.userName}">用户姓名</th>
                                    <th th:text="#{ydyh.userIdNumber}">用户身份证号</th>
                                    <th th:text="#{operation}">操作</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th th:text="#{meterNumber}">表号</th>
                                    <th th:text="#{jlsb.meterBoxNumber}">表箱号</th>
                                    <th th:text="#{ydyh.userName}">用户姓名</th>
                                    <th th:text="#{ydyh.userIdNumber}">用户身份证号</th>
                                    <th th:text="#{operation}">操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
