<script src='assets/page/javascripts/tbSftj.js' type='text/javascript'></script>

<input type="text" name="id" id="id" style="display: none"/>
<input type="text" name="meterId" id="meterId" style="display: none"/>
<div class='container-fluid'>
    <div class='row-fluid' id='content-wrapper' style="display: block;">
        <!--用户列表部分 开始-->
        <div class='row-fluid'>
            <div class='span12 box bordered-box blue-border' style='margin-bottom:0;'>
                <div class='box-header blue-background'>
                    <div class='title'>收费统计列表</div>
                </div>
                <div class='box-content box-no-padding'>
                    <div class='responsive-table'>
                        <div class='scrollable-area'>
                            <table class='data-table data-table-column-filter table table-bordered table-striped table-hover'
                                   style='margin-bottom:0;' id="plist" width="100%">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>姓名</th>
                                        <th>收费日期</th>
                                        <th>应收金额</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>序号</th>
                                        <th>姓名</th>
                                        <th>收费日期</th>
                                        <th>应收金额</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
