<script src='assets/page/javascripts/tbSyt.js' type='text/javascript'></script>

<input type="text" name="id" id="id" style="display: none"/>
<input type="text" name="meterId" id="meterId" style="display: none"/>
<div class='container-fluid'>
    <div class='row-fluid' id='content-wrapper' style="display: block;">
        <!--modeal-lookmsg-->
        <div class="modal-add hide fade in" id="modal-lookmsg" role="dialog" tabindex="-1" aria-hidden="false"
             style="display:none">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-edit"></div>
                    缴费详情
                </h3>
            </div>
            <div class="modal-body">
                <form class="form" style="margin-bottom: 0;">
                    <div class="box-content" style="display: inline;">
                        <table class="kv-table">
                            <tbody>
                            <tr>
                                <td class="kv-label">姓名
                                </td>
                                <td class="kv-content" id="name">
                                </td>
                                <td class="kv-label">身份证号
                                </td>
                                <td class="kv-content" id="idCode">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">表号</td>
                                <td class="kv-content" id="meterNum">
                                </td>
                                <td class="kv-label">用户地址
                                </td>
                                <td class="kv-content" id="address">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">用电量
                                </td>
                                <td class="kv-content" id="periodElecNum">
                                </td>
                                <td class="kv-label">电费费率
                                </td>
                                <td class="kv-content" id="tate">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">应缴电费
                                </td>
                                <td class="kv-content" id="amountDue">
                                </td>
                                <td class="kv-label">实缴电费
                                </td>
                                <td class="kv-content">
                                    <input class="span13" id="actualAmount" placeholder="" type="text" autocomplete="off">
                                </td>
                            </tr>
                            <tr>
                                <td class="kv-label">备注
                                </td>
                                <td class="kv-content" colspan="3">
                                    <input class="span13" id="note" placeholder="" type="text" autocomplete="off">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="control-group">
                    <div class="controls">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="text-align: center">
                    <button class="btn btn-primary btn-large" id="printFactura" onclick="printFactura()">打印收据</button>
                </div>
            </div>
        </div>
        <!--modeal-lookmsg end-->
        <!--用户列表部分 开始-->
        <div class='row-fluid'>
            <div class='span12 box bordered-box blue-border' style='margin-bottom:0;'>
                <div class='box-header blue-background'>
                    <div class='title'>缴费用户列表</div>
                </div>
                <div class='box-content box-no-padding'>
                    <div class='responsive-table'>
                        <div class='scrollable-area'>
                            <table class='data-table data-table-column-filter table table-bordered table-striped table-hover'
                                   style='margin-bottom:0;' id="plist">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>姓名</th>
                                    <th>身份证号</th>
                                    <th>表号</th>
                                    <th>应缴电费</th>
                                    <th>抄表时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>序号</th>
                                    <th>姓名</th>
                                    <th>身份证号</th>
                                    <th>表号</th>
                                    <th>应缴电费</th>
                                    <th>抄表时间</th>
                                    <th>操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
