<script src='assets/page/javascripts/tbYhlx.js' type='text/javascript'></script>
<html xmlns:th="http://www.thymeleaf.org">
<input type="text" name="id" id="yhlxId" style="display: none"/>

<div class='container-fluid'>
    <div class='row-fluid' id='content-wrapper' style="display: block;">
        <!--modal-addyhlx-->
        <div class="modal-add hide fade in" id="modal-addYhlx" role="dialog" tabindex="-1" aria-hidden="false"
             style="display:none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-edit"></div>
                    [[#{yhlx.addOrEditUserType}]]
                </h3>
            </div>
            <div class="modal-body">
                <form class="form" style="margin-bottom: 0;">
                    <div class="text-center">
                        <h2 th:text="#{yhlx.userTypeInfo}">用户类型信息</h2>
                        <br/>
                    </div>
                    <div class="box-content" style="display: inline;">
                        <table class="kv-table">
                            <tbody>
                            <tr>
                                <td class="kv-label">[[#{ydyh.userType}]]
                                    <font color="red">*</font>
                                </td>
                                <td class="kv-content">
                                    <input class="span11" id="userType" type="text" autocomplete="off">
                                    <font id="login_name_alert" color="red" style="display: none;">[[#{mustFill}]]</font>
                                </td>
                                <td class="kv-label">[[#{jfjl.electricityTariff}]]
                                    <font color="red">*</font>
                                </td>
                                <td class="kv-content">
                                    <input class="span11" id="tate" placeholder="" type="text" autocomplete="off">
                                    <font id="name_alert" color="red" style="display: none;">[[#{mustFill}]]</font>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="control-group">
                    <div class="controls">
                        <p class="help-block"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="icon-remove"></i>[[#{cancel}]]</button>
                <button class="btn btn-primary" onclick="addYhlx()"><i class="icon-save"></i>[[#{save}]]</button>
            </div>
        </div>
        <!--modal-addyhlx end-->
        <!--modal-deleteyhlx begin-->
        <!--<div class="modal hide fade in" id="modal-deleteyhlx" role="dialog" tabindex="-1" aria-hidden="false"
             style="display: none;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">×</button>
                <h3 style="color: white;">
                    <div class="icon-minus-sign"></div>
                    删除用户类型
                </h3>
            </div>
            <div class="modal-body">
                <h4 style="color: red;">
                    <div class="icon-exclamation-sign"></div>
                    注意：用户类型删除后不能恢复，请谨慎操作！
                </h4>
                <p>请确认是否继续删除。</p>
                <p>非系统管理员请勿进行删除操作！</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" id="deleterow">确认删除</button>
            </div>
        </div>-->
        <!--modal-deleteyhlx end-->
        <!--用户列表部分 开始-->
        <div class='row-fluid'>
            <div class='span12 box bordered-box blue-border' style='margin-bottom:0;'>
                <div class='box-header blue-background'>
                    <div class='title' th:text="#{yhlx.userTypeList}">用户类型列表</div>
                    <div class='pull-right' style="margin-top:-80px;width:auto;height:30px;margin-right:13px;">
                        <a id="addYhlx" class="btn btn-default" data-toggle="modal" href="#modal-addYhlx" role="button"
                           style="background-color:#00aceb;color:white;width:100%;height:100%;padding-top:10px;font-size:16px;" onclick="initform()">
                            <i class="icon-plus"></i> [[#{yhlx.addUserType}]]
                        </a>
                    </div>
                </div>
                <div class='box-content box-no-padding'>
                    <div class='responsive-table'>
                        <div class='scrollable-area'>
                            <table class='data-table data-table-column-filter table table-bordered table-striped table-hover'
                                   style='margin-bottom:0;' id="plist">
                                <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th th:text="#{ydyh.userType}">用户类型</th>
                                    <th th:text="#{jfjl.electricityTariff}">电费费率</th>
                                    <th th:text="#{operation}">操作</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th th:text="#{ydyh.userType}">用户类型</th>
                                    <th th:text="#{jfjl.electricityTariff}">电费费率</th>
                                    <th th:text="#{operation}">操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
